{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'zebraapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'zebraapp/css/shop-homepage.css' %}" rel="stylesheet">
  
  <style>
      .card h-100{
          float: left;
      }
      
      .content img {
          float: left;
      }
      
      .description {
          display: inline-block;
          margin-left: 30px;
          margin-top: 8px;
      }
     
      hr {
          clear: both;
      }
      
      .description a {
          font-size: 25px;
          font-weight: bold;
          color: black;
      }
    
    </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">ZeBra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">ZeBra</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">욕실</a>
          <a href="#" class="list-group-item">주방</a>
          <a href="#" class="list-group-item">생활</a>
          <a href="#" class="list-group-item">사무</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static 'zebraapp/OrganicSoapBerries.jpg' %}" width="900" height="350" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <hr>
        
        {% comment %} 리스트 부분 {% endcomment %}
        {%for productDetail in productDetails.all %}
        <div class="content">

            <img src="{{productDetail.itemImg.url}}">
            <div class="description">
                <a href="{{productDetail.itemLink}}">{{productDetail.itemName}}</a>
                <br>
                <h5> {{productDetail.itemStore}} </h5>
                <h6> {{productDetail.itemDetail}} </h6>
                <p>
                    정가: {{productDetail.itemPrice}} <br>
                    배송비: {{productDetail.itemShip}}}<br>
                </p>
            </div>
            <div style="clear: both"></div>
            <hr>
            
            {% if productDetails.itemName2 != "none" %}
            <img src="{{productDetail.itemImg1.url}}">
            <div class="description">
                <a href="{{productDetail.itemLink1}}">{{productDetail.itemName1}}</a>
                <br>
                <h5> {{productDetail.itemStore1}} </h5>
                <h6> {{productDetail.itemDetail1}} </h6>
                <p>
                    정가: {{productDetail.itemPrice1}} <br>
                    배송비: {{productDetail.itemShip1}}}<br>
                </p>
            </div>
            <div style="clear: both"></div>
            <hr>
           {% endif %}


            {% if productDetails.itemName2 != "none" %}
              <img src="{{productDetail.itemImg2.url}}">
              <div class="description">
                  <a href="{{productDetail.itemLink2}}">{{productDetail.itemName2}}</a>
                  <br>
                  <h5> {{productDetail.itemStore2}} </h5>
                  <h6> {{productDetail.itemDetail2}} </h6>
                  <p>
                      정가: {{productDetail.itemPrice2}} <br>
                      배송비: {{productDetail.itemShip2}}}<br>
                  </p>
              </div>
              <div style="clear: both"></div>
              <hr>
            {% endif %}


            {% if productDetails.itemName1 != none %}
            <img src="{{productDetail.itemImg3.url}}">
            <div class="description">
                <a href="{{productDetail.itemLink3}}">{{productDetail.itemName3}}</a>
                <br>
                <h5> {{productDetail.itemStore3}} </h5>
                <h6> {{productDetail.itemDetail3}} </h6>
                <p>
                    정가: {{productDetail.itemPrice3}} <br>
                    배송비: {{productDetail.itemShip3}}}<br>
                </p>
            </div>
            <div style="clear: both"></div>
            <hr>
            {% endif %}

            {% if productDetails.itemName1 != none %}
            <img src="{{productDetail.itemImg4.url}}">
            <div class="description">
                <a href="{{productDetail.itemLink4}}">{{productDetail.itemName4}}</a>
                <br>
                <h5> {{productDetail.itemStore4}} </h5>
                <h6> {{productDetail.itemDetail4}} </h6>
                <p>
                    정가: {{productDetail.itemPrice4}} <br>
                    배송비: {{productDetail.itemShip4}}}<br>
                </p>
            </div>
            <div style="clear: both"></div>
            <hr>
            {% endif %}

            {% if productDetails.itemName5 != none %}
            <img src="{{productDetail.itemImg5.url}}">
            <div class="description">
                <a href="{{productDetail.itemLink5}}">{{productDetail.itemName5}}</a>
                <br>
                <h5> {{productDetail.itemStore5}} </h5>
                <h6> {{productDetail.itemDetail5}} </h6>
                <p>
                    정가: {{productDetail.itemPrice5}} <br>
                    배송비: {{productDetail.itemShip5}}}<br>
                </p>
            </div>
            <div style="clear: both"></div>
            <hr>
            {% endif %}

        </div>
        {%endfor%}
        
        <div style="clear: both"></div>
        <hr>


        </div>
        <!-- /.row -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'zebraapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'zebraapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
