{% load static %}

<!DOCTYPE html>
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'zebraapp/css/tipstyle.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'zebraapp/css/commonstyle.css' %}" type="text/css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <title>Tip</title>
    
</head>

<body>

<!-- Navigation Bar  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>

<!-- Page Content -->

    <img src="{% static 'img/tip.jpg' %}" class="img-fluid" alt="Responsive image">

        <br>
        <br>

        <!-- Post Content Column -->
        

            <div class="wrapper">

                    {% for tip in tips %}

                        <article class="location-listing">

                        <a class="location-title" href="{% url 'tipDetail' tip.id %}">{{tip.tipTitle}}</a>
                        <div class="thumbnail-wrapper">
                            <div class="thumbnail">
                            <div class="centered">
                            <img src="{{ tip.tipImg.url }}" class="landscape"></a>
                            </div>
                            </div>
                        </div>

                        </article>

                    {% endfor %}
            </div>
            </div>
                    <!-- end grid container -->


<footer class="blog-footer">
  <p>Zero Waste Platform</p>
  <p>Designed by <a href="https://www.instagram.com/2dx2_likelion_sswu/"> @2DX2 </a> from <a href="https://likelion.net/">LIKELION</a></p>
</footer>

</body>
